<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>${user.home}/.m2/exo-repository/</localRepository>
  <mirrors>
    <mirror>
      <id>exo-mirror</id>
      <url>https://repository.exoplatform.org/public/</url>
      <mirrorOf>external:*</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>exo-central</id>
      <!-- This hack change the behavior of maven to let it use our public mirror
      as the central repository (with snapshots activation). 
      The URL is never used and is overridden by the mirror entry.
      -->
      <repositories>
        <repository>
          <id>central</id>
          <url>http://fake</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://fake</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>exo-central</activeProfile>
  </activeProfiles>
</settings>

