<?xml version="1.0" encoding="UTF-8"?>
<!--
Logback ${ch.qas.logback.version} configuration file.
For more details see : http://logback.qos.ch/manual/configuration.html
-->
<configuration scan="${env.EXO_DEV}" scanPeriod="30 seconds">
  <!-- Enable JMX to configure logs -->
  <jmxConfigurator/>
  <!-- Load configuration properties to customize this setup -->
  <property file="${exo.conf.dir}/configuration.properties"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/platform.log</file>
    <append>true</append>
    <encoder>
      <pattern>${exo.logs.default.pattern}</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
      <!-- this quadruples logging throughput -->
      <immediateFlush>false</immediateFlush>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${catalina.base}/logs/platform-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
      <!-- Max number of archives to keep -->
      <maxHistory>${exo.logs.rolling.maxHistory}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches maxFileSize -->
        <maxFileSize>${exo.logs.rolling.maxFileSize}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE"/>
  </appender>
  <logger name="org.exoplatform" level="INFO"/>
  <logger name="org.gatein" level="INFO"/>
  <logger name="org.chromattic" level="INFO"/>
  <logger name="jcr" level="INFO"/>
  <logger name="exo.jcr" level="INFO"/>
  <logger name="ws" level="INFO"/>
  <logger name="XMLResolvingServiceImpl" level="INFO"/>
  <logger name="TRAXTemplatesServiceImpl" level="INFO"/>
  <logger name="org.hibernate" level="INFO"/>
  <logger name="com.arjuna" level="INFO"/>
  <logger name="org.jboss" level="INFO"/>
  <logger name="org.apache.shindig" level="WARN"/>
  <logger name="com.google.javascript.jscomp" level="WARN"/>
  <if condition='"true".equals(property("EXO_LOGS_DISPLAY_CONSOLE"))'>
    <then>
      <!-- This is activated by default on unix like systems -->
      <if condition='property("os.name").contains("Windows")'>
        <then>
          <!-- Colorization of logs isn't activated by default on Windows -->
          <!-- There are various issues with it like http://jira.qos.ch/browse/LOGBACK-762 -->
          <property name="EXO_LOGS_CONSOLE_COLORIZED" value="${EXO_LOGS_CONSOLE_COLORIZED:-false}"/>
          <!-- On Windows machines setting withJansi to true enables ANSI color code interpretation by the Jansi library. -->
          <property name="EXO_LOGS_CONSOLE_JANSI" value="true"/>
        </then>
        <else>
          <property name="EXO_LOGS_CONSOLE_COLORIZED" value="${EXO_LOGS_CONSOLE_COLORIZED:-true}"/>
          <property name="EXO_LOGS_CONSOLE_JANSI" value="false"/>
        </else>
      </if>
      <if condition='"true".equals(property("EXO_LOGS_CONSOLE_COLORIZED"))'>
        <then>
          <!-- Colorized logs -->
          <property name="exo.logs.console.appender.pattern" value="${exo.logs.colorized.pattern}"/>
        </then>
        <else>
          <property name="exo.logs.console.appender.pattern" value="${exo.logs.default.pattern}"/>
        </else>
      </if>
      <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>${EXO_LOGS_CONSOLE_JANSI:-false}</withJansi>
        <encoder>
          <pattern>${exo.logs.console.appender.pattern:-${exo.logs.default.pattern}}</pattern>
        </encoder>
      </appender>
      <root>
        <appender-ref ref="CONSOLE"/>
      </root>
    </then>
  </if>
  <root level="INFO">
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>