<?xml version='1.0' encoding='utf-8'?>
<!--

    Copyright (C) 2012 eXo Platform SAS.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<Server port="${EXO_TOMCAT_SHUTDOWN_PORT}" shutdown="${EXO_TOMCAT_SHUTDOWN_KEY}">
  <!-- Security listener. Documentation at /docs/config/listeners.html
  <Listener className="org.apache.catalina.security.SecurityListener" />
  -->
  <!--APR library loader. Documentation at /docs/apr.html -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <!--
  The JMX Remote Lifecycle Listener fixes the ports used by the JMX/RMI Server making things much simpler if you need to connect jconsole
  or a similar tool to a remote Tomcat instance that is running behind a firewall. Only these ports are configured via the listener.
  The remainder of the configuration is via the standard system properties for configuring JMX.
  http://tomcat.apache.org/tomcat-7.0-doc/config/listeners.html#JMX_Remote_Lifecycle_Listener_-_org.apache.catalina.mbeans.JmxRemoteLifecycleListener
  NOTE : eXo platform Standalone Tomcat distribution bundles the required catalina-jmx-remote.jar.
  -->
  <!--
  <Listener className="org.apache.catalina.mbeans.JmxRemoteLifecycleListener" rmiRegistryPortPlatform="${EXO_TOMCAT_RMI_REGISTRY_PORT}" rmiServerPortPlatform="${EXO_TOMCAT_RMI_SERVER_PORT}" useLocalPorts="${EXO_TOMCAT_RMI_LOCAL_PORT}" />
  -->

  <GlobalNamingResources>

    <!-- eXo IDM Datasource for portal -->
    <Resource name="exo-idm_portal" auth="Container" type="javax.sql.DataSource"
              maxActive="${EXO_DS_IDM_MAX_ACTIVE}" maxIdle="${EXO_DS_IDM_MAX_IDLE}" maxWait="${EXO_DS_IDM_MAX_WAIT}"
              username="${EXO_DS_IDM_USERNAME}" password="${EXO_DS_IDM_PASSWORD}" driverClassName="${EXO_DS_IDM_DRIVER}" url="${EXO_DS_IDM_URL}"/>

    <!-- eXo JCR Datasource for portal -->
    <Resource name="exo-jcr_portal" auth="Container" type="javax.sql.DataSource"
              maxActive="${EXO_DS_PORTAL_MAX_ACTIVE}" maxIdle="${EXO_DS_PORTAL_MAX_IDLE}" maxWait="${EXO_DS_PORTAL_MAX_WAIT}"
              username="${EXO_DS_PORTAL_USERNAME}" password="${EXO_DS_PORTAL_PASSWORD}" driverClassName="${EXO_DS_PORTAL_DRIVER}" url="${EXO_DS_PORTAL_URL}"/>

  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector address="${EXO_HTTP_ADDRESS}" port="${EXO_HTTP_PORT}" protocol="${EXO_HTTP_PROTOCOL}"
               enableLookups="false" redirectPort="${EXO_TOMCAT_REDIRECT_PORT}"
               connectionTimeout="${EXO_HTTP_CX_TIMEOUT}" disableUploadTimeout="true"
               URIEncoding="${EXO_TOMCAT_URI_ENCODING}"
               compression="${EXO_HTTP_COMPRESSION}" compressionMinSize="${EXO_HTTP_COMPRESSION_MIN_SIZE}"
               noCompressionUserAgents=".*MSIE 6.*" compressableMimeType="text/html,text/xml,text/plain,text/css,text/javascript"/>

    <Connector address="${EXO_AJP_ADDRESS}" port="${EXO_AJP_PORT}" protocol="${EXO_AJP_PROTOCOL}"
               redirectPort="${EXO_TOMCAT_REDIRECT_PORT}"
               URIEncoding="${EXO_TOMCAT_URI_ENCODING}"/>

    <!-- You should set jvmRoute to support load-balancing via AJP ie :
    <Engine name="Standalone" defaultHost="localhost" jvmRoute="jvm1">
    -->
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="${EXO_TOMCAT_JVMROUTE_NAME}">
      <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
        <!-- SingleSignOn valve : Enabled for IDE -->
        <Valve className="org.apache.catalina.authenticator.SingleSignOn"/>
        <!-- This Listener is responsible to create all portlet containers -->
        <Listener className="org.exoplatform.platform.server.tomcat.PortalContainersCreator"/>
      </Host>
    </Engine>
  </Service>

</Server>
